<header>
  <h1>{{ 'CHOOSE_USER_LEAGUE.TITLE' | transloco }}</h1>
</header>
<div class="flex flex-col gap-8">
  <div
    *ngFor="let userLeague of ((dataService.userLeagues$ | async) || []) | sortBy: 'name'"
    class="flex flex-col gap-2"
  >
    <div>
      <div class="flex gap-2">
        <h2>
          {{ userLeague.name }}
        </h2>
        <span
          *ngIf="userLeague.isAdmin"
          class="material-icons"
        >admin_panel_settings</span>
      </div>
    </div>
    <div class="grid grid-cols-2 md:grid-cols-5 gap-2">
      <button
        (click)="chooseUserLeague(userLeague)"
        class="btn btn-primary flex justify-between"
      >
        {{"CHOOSE_USER_LEAGUE.SELECT" | transloco}}
        <span class="material-icons md-18">arrow_forward_ios</span>
      </button>
      <button
        (click)="deleteUserLeague(userLeague.id)"
        *ngIf="userLeague.isAdmin"
        class="btn btn-critical flex justify-between"
      >
        {{"CHOOSE_USER_LEAGUE.DELETE" | transloco}}
        <span class="material-icons md-18">delete_forever</span>
      </button>
      <button
        (click)="invite(userLeague.id)"
        class="btn btn-secondary flex justify-between"
      >
        {{"CHOOSE_USER_LEAGUE.INVITE" | transloco}}
        <span class="material-icons md-18">ios_share</span>
      </button>
      <button
        (click)="leave(userLeague.id)"
        *ngIf="userLeague.isUser"
        class="btn btn-secondary flex justify-between"
      >
        {{"CHOOSE_USER_LEAGUE.LEAVE" | transloco}}
        <span class="material-icons md-18">logout</span>
      </button>
      <button
        (click)="openUsersInUserLeagueModal(userLeague)"
        *ngIf="userLeague.isAdmin"
        class="btn btn-secondary flex justify-between"
      >
        {{"CHOOSE_USER_LEAGUE.USERS" | transloco}}
        <span class="material-icons md-18">group</span>
      </button>
    </div>
  </div>
  <button
    (click)="chooseUserLeague()"
    *ngIf="dataService.selectedUserLeague$ | async"
    class="btn btn-secondary flex justify-between"
  >
    {{ 'CHOOSE_USER_LEAGUE.SHOW_ALL' | transloco }}
    <span class="material-icons">close</span>
  </button>
  <button
    (click)="openCreateUserLeagueModal()"
    class="btn btn-secondary flex justify-between mt-8"
  >
    {{ 'CREATE_USER_LEAGUE_BUTTON' | transloco }}
    <span class="material-icons">add</span>
  </button>
</div>
<footer>
  <button
    (click)="ref.close()"
    class="btn btn-secondary">{{ 'CANCEL_BUTTON' | transloco }}</button>
</footer>
