@use 'node_modules/@ngneat/hot-toast/src/styles/styles.scss';

@tailwind base;
@tailwind components;
@tailwind utilities;

.material-icons.md-12 {
  font-size: 12px;
}

.material-icons.md-18 {
  font-size: 18px;
}

.material-icons.md-24 {
  font-size: 24px;
}

.material-icons.md-36 {
  font-size: 36px;
}

.material-icons.md-48 {
  font-size: 48px;
}

.btn {
  @apply font-medium rounded-lg text-sm px-5 py-2.5 focus:outline-none flex items-center gap-2;
}

.btn-primary {
  @apply text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 border-blue-900 border-2;

  &:not(:disabled) {
    @apply hover:bg-blue-800 focus:ring-4 focus:ring-blue-300;
  }
}

.btn-secondary {
  @apply text-gray-900 bg-white border-2 border-gray-200;

  &:not(:disabled) {
    @apply hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-200
  }
}

.btn-white {
  @apply text-inherit bg-gray-400/50;

  &:not(:disabled) {
    @apply hover:bg-gray-50 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-200
  }
}

.btn-white-highlight {
  @apply text-gray-950 bg-white;

  &:not(:disabled) {
    @apply hover:bg-gray-100 hover:text-gray-700 focus:z-10 focus:ring-4 focus:ring-gray-200
  }
}

.btn-black {
  @apply text-gray-50 bg-gray-700 border-2 border-gray-900;

  &:not(:disabled) {
    @apply hover:bg-gray-800 focus:z-10 focus:ring-4 focus:ring-gray-200
  }
}

.btn-green {
  @apply text-gray-50 bg-green-600;

  &:not(:disabled) {
    @apply hover:bg-green-800 focus:z-10 focus:ring-4 focus:ring-gray-200
  }
}

.btn-red {
  @apply text-gray-50 bg-red-600;

  &:not(:disabled) {
    @apply hover:bg-red-800 focus:z-10 focus:ring-4 focus:ring-gray-200
  }
}

.btn-critical {
  @apply text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300;
}

.btn-loading {
  @apply h-10 w-32 animate-pulse bg-gray-200;
}

.badge {
  @apply text-xs px-2.5 py-1 rounded-full;
}

.input-label {
  @apply block mb-2 text-sm font-medium text-gray-900;
}

.input {
  @apply bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5;

  &[type="date"] {
    @apply p-1.5;
  }

  &.ng-touched.ng-invalid {
    @apply bg-red-50 border border-red-500 text-red-900 placeholder-red-700 focus:ring-red-500 focus:border-red-500;
  }
}

.input-checkbox {
  @apply w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 focus:ring-2;
}

.input-checkbox-label {
  @apply ms-2 text-sm font-medium text-gray-900;
}

.input-error-description {
  @apply mt-1 text-red-600 text-xxs;
}

.input-description {
  @apply mt-1 text-gray-600 text-xxs;
}

h1 {
  @apply font-medium text-2xl;
}

h2 {
  @apply font-medium text-xl;
}

ngneat-dialog {
  .ngneat-dialog-content {
    @apply overflow-y-auto px-4;

    header {
      @apply pt-4 pb-8 sticky top-0 bg-white z-50;
    }

    footer {
      @apply pb-4 pt-8 flex justify-between sticky bottom-0 bg-white z-50;
    }
  }
}
