<div class="w-full grid grid-cols-3 gap-4 content-start relative">
  <div
    *ngIf="data.result === null && data.datetime! < now && !data.postponed"
    class="absolute w-full h-full bg-white/80 top-0 left-0 flex items-center justify-center z-50">
    <div class="font-medium py-2 px-4 bg-gray-800 text-white rounded-lg">{{ 'WAITING_TO_SET_RESULT' | transloco }}</div>
  </div>
  <div
    *ngIf="data.postponed"
    class="absolute w-full h-full bg-white/80 top-0 left-0 flex items-center justify-center z-50">
    <div class="font-medium py-2 px-4 bg-gray-800 text-white rounded-lg">{{ 'POSTPONED' | transloco }}</div>
  </div>
  <button
    (click)="chooseResult(1)"
    [disabled]="data.datetime! < now || sendingVote !== undefined"
    class="flex justify-center"
  >
    <app-result-button
      [backgroundColor]="data.homeTeam.color"
      [hide]="data.datetime! < now ? data.result !== 1: votes[data.id]?.result !== null && votes[data.id]?.result !== 1"
      [hover]="data.datetime! >= now"
      [label]="data.homeTeam.name"
      [size]="data.datetime! < now ? 'small' : 'normal'"
      [type]="
      data.datetime! < now ?
        data.result === null ?
          votes[data.id]?.result === 1 ?
            'highlight':
            'normal':
          votes[data.id]?.result === 1 ?
            data.result === 1 ?
              'correct':
              'incorrect':
            'normal':
        votes[data.id]?.result === 1 ?
          'highlight':
          'normal'
      "
      [votesRatio]="data && data.totalVotes ? ((data![1] || 0) / data.totalVotes) : 0"
    >
      <img
        [src]="'assets/images/' + data.home + '.png'"
        alt="Rounded avatar"
        class="w-auto h-full drop-shadow-2xl"/>
    </app-result-button>
  </button>
  <button
    (click)="chooseResult(0)"
    [disabled]="data.datetime! < now || sendingVote !== undefined"
    class="flex justify-center"
  >
    <app-result-button
      [backgroundColor]="'#333'"
      [hide]="data.datetime! < now ? data.result !== 0: votes[data.id]?.result !== null && votes[data.id]?.result !== 0"
      [hover]="data.datetime! >= now"
      [label]="'DRAW' | transloco"
      [size]="!!data && data.datetime < now ? 'small' : 'normal'"
      [type]="
      data.datetime! < now ?
        data.result === null ?
          votes[data.id]?.result === 0 ?
            'highlight':
            'normal':
          votes[data.id]?.result === 0 ?
            data.result === 0 ?
              'correct':
              'incorrect':
            'normal':
        votes[data.id]?.result === 0 ?
          'highlight':
          'normal'
      "
      [votesRatio]="data && data.totalVotes ? ((data![0] || 0) / data.totalVotes) : 0"
    >
      <span
        [ngClass]="{
          'md-36': !!data && data.datetime >= now,
          'md-18': !!data && data.datetime < now
          }"
        class="material-icons text-gray-100"
      >close</span>
    </app-result-button>
  </button>
  <button
    (click)="chooseResult(2)"
    [disabled]="data.datetime! < now || sendingVote !== undefined"
    class="flex justify-center"
  >
    <app-result-button
      [backgroundColor]="data.awayTeam.color"
      [hide]="data.datetime! < now ? data.result !== 2: votes[data.id]?.result !== null && votes[data.id]?.result !== 2"
      [hover]="data.datetime! >= now"
      [label]="data.awayTeam.name"
      [size]="!!data && data.datetime < now ? 'small' : 'normal'"
      [type]="
      data.datetime! < now ?
        data.result === null ?
          votes[data.id]?.result === 2 ?
            'highlight':
            'normal':
          votes[data.id]?.result === 2 ?
            data.result === 2 ?
              'correct':
              'incorrect':
            'normal':
        votes[data.id]?.result === 2 ?
          'highlight':
          'normal'
      "
      [votesRatio]="data && data.totalVotes ? ((data![2] || 0) / data.totalVotes) : 0"
    >
      <img
        [src]="'assets/images/' + data.away + '.png'"
        alt="Rounded avatar"
        class="w-auto h-full drop-shadow-2xl">
    </app-result-button>
  </button>
</div>
