<div class="flex flex-col gap-2 w-full items-center rounded-xl relative overflow-hidden pt-4 pb-2 bg-gray-50 transition-all max-w-2xl mx-auto max-h-[196px]">
  <div
    [ngClass]="{
      'opacity-10': hides['1'],
      'opacity-50': !hides['1'],
      'w-1/2': states['1'] === 'highlight' || states['1'] === 'correct',
      'w-1/4': hides['1'],
      'w-1/3': states['1'] === 'normal' && !hides['1']
    }"
    [style.--tw-gradient-from]="data.homeTeam.color ?? '#333333'"
    class="absolute w-1/3 left-0 bottom-0 h-full bg-gradient-to-r from-blue-300"
  ></div>
  <div
    [ngClass]="{
      'opacity-10': hides['2'],
      'opacity-50': !hides['2'],
      'w-1/2': states['2'] === 'highlight' || states['2'] === 'correct',
      'w-1/4': hides['2'],
      'w-1/3': states['2'] === 'normal' && !hides['2']
    }"
    [style.--tw-gradient-from]="data.awayTeam.color ?? '#333333'"
    class="absolute w-1/3 right-0 bottom-0 h-full bg-gradient-to-l from-blue-300 opacity-30"
  ></div>
  <div class="flex flex-col items-center w-full gap-1">
    <img
      [alt]="data.leagueName"
      [title]="data.leagueName"
      class="h-3 w-auto opacity-70"
      src="assets/images/{{data.leagueName}}.webp"
    >
    <div class="z-20 flex items-end gap-4 text-xs md:text-base w-full">
      <div class="flex-1 gap-1 flex flex-col items-end">
        <div class="flex gap-2 items-baseline">
        <span
          *ngIf="data.homeTeam.rank"
          class="text-gray-600 font-light text-xxs">{{data.homeTeam.rank}}</span>
          <app-form [data]="data.homeTeam.form"/>
        </div>
        <div
          class="drop-shadow-md text-right font-bold leading-tight flex gap-2 items-center"
        >
          {{data.homeTeam.name}}
          <img
            (error)="imageError($event)"
            [src]="'assets/images/club_logos/for_white_bg/' + data.homeTeam.id + '.webp'"
            class="h-3"
          >
        </div>
      </div>
      <div
        *ngIf="data.result === null"
        class="opacity-30 text-center font-normal leading-tight">vs
      </div>
      <div
        *ngIf="data.result !== null"
        class="opacity-30 text-center font-normal leading-tight">
        {{data.homeTeam.goals}}-{{data.awayTeam.goals}}
      </div>
      <div class="flex-1 gap-1 flex flex-col">
        <div class="flex items-baseline gap-2">
          <app-form [data]="data.awayTeam.form"/>
          <span
            *ngIf="data.awayTeam.rank"
            class="text-gray-600 font-light text-xxs">{{data.awayTeam.rank}}</span>
        </div>
        <div
          class="drop-shadow-md font-bold leading-tight flex gap-2 items-center"
        >
          <img
            (error)="imageError($event)"
            [src]="'assets/images/club_logos/for_white_bg/' + data.awayTeam.id + '.webp'"
            class="h-3"
          >
          {{data.awayTeam.name}}
        </div>
      </div>
    </div>
  </div>
  <div
    *ngIf="(authService.isSignIn$ | async) && !votes"
    class="z-20 flex gap-2 w-full h-[44px] justify-center items-center text-xs text-gray-600"
  >
    {{ 'VOTE_LOADING' | transloco }}
  </div>
  <div
    [ngClass]="{
      'hidden': (authService.isSignIn$ | async) && !votes
    }"
    class="z-20 flex gap-2 w-full justify-center"
  >
    <button
      (click)="chooseResult(1)"
      [disabled]="data.date! < now || sendingVote !== undefined"
      [ngClass]="{
        'btn-green': states['1'] === 'correct',
        'btn-red': states['1'] === 'incorrect',
        'btn-black': states['1'] === 'highlight',
        'btn-white': states['1'] === 'normal'
      }"
      class="btn w-[72px] flex justify-center drop-shadow-2xl"
    >
      1
    </button>
    <button
      (click)="chooseResult(0)"
      [disabled]="data.date! < now || sendingVote !== undefined"
      [ngClass]="{
        'btn-green': states['0'] === 'correct',
        'btn-red': states['0'] === 'incorrect',
        'btn-black': states['0'] === 'highlight',
        'btn-white': states['0'] === 'normal'
      }"
      class="btn w-[72px] flex justify-center drop-shadow-2xl"
    >
      0
    </button>
    <button
      (click)="chooseResult(2)"
      [disabled]="data.date! < now || sendingVote !== undefined"
      [ngClass]="{
        'btn-green': states['2'] === 'correct',
        'btn-red': states['2'] === 'incorrect',
        'btn-black': states['2'] === 'highlight',
        'btn-white': states['2'] === 'normal'
      }"
      class="btn w-[72px] flex justify-center drop-shadow-2xl"
    >
      2
    </button>
  </div>
  <div class="z-20 flex items-center gap-4 mt-2 text-xxs text-gray-950/50">
    <div>{{('ROUND.' + data.round) | transloco}}</div>
    <div>{{data.date | datetimeFormatBy}}</div>
  </div>
</div>
