<div class="border-b border-gray-200 sticky top-0 bg-white">
  <ul class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500">
    <li class="mr-2">
      <a
        [ngClass]="{
          'text-blue-600 border-blue-600 hover:text-blue-600 hover:border-blue-600': activeTab === 'next',
          'hover:text-gray-600 hover:border-gray-300': activeTab !== 'next'
        }"
        [routerLink]="['/next']"
        class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg group"
      >
        {{ 'MENU.SCHEDULE' | transloco }}
      </a>
    </li>
    <li class="mr-2">
      <a
        [ngClass]="{
          'text-blue-600 border-blue-600 hover:text-blue-600 hover:border-blue-600': activeTab === 'results',
          'hover:text-gray-600 hover:border-gray-300': activeTab !== 'results'
        }"
        [routerLink]="['/results']"
        class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg group"
      >
        {{ 'MENU.RESULTS' | transloco }}
      </a>
    </li>
    <li>
      <a
        [ngClass]="{
          'text-blue-600 border-blue-600 hover:text-blue-600 hover:border-blue-600': activeTab === 'standings',
          'hover:text-gray-600 hover:border-gray-300': activeTab !== 'standings'
        }"
        [routerLink]="['/standings']"
        class="inline-flex items-center justify-center p-4 border-b-2 rounded-t-lg group"
      >
        {{ 'MENU.STANDINGS' | transloco }}
      </a>
    </li>
    <li *ngIf="authService.isSignIn$ | async">
      <a
        class="py-4 px-4 block"
        href="https://discord.gg/v8GxDMVG"
        target="_blank"
      >
        <img
          alt="Discord"
          class="h-4 w-auto"
          src="assets/images/discord.png"
          srcset="assets/images/discord.png"
        >
      </a>
    </li>
  </ul>
</div>

<ng-container [ngSwitch]="activeTab">
  <app-next-matches
    *ngSwitchCase="'next'"
  />
  <app-previous-matches
    *ngSwitchCase="'results'"
  />
  <app-standings
    *ngSwitchCase="'standings'"
  />
</ng-container>
