<div
  *ngIf="leagues.length > 1"
  class="flex gap-2">
  <button
    (click)="addLeagueToFilter(league.name)"
    *ngFor="let league of leagues"
    [ngClass]="{
        'border-transparent': !isLeagueInFilter[league.name],
        'border-gray-950': isLeagueInFilter[league.name]
      }"
    class="badge flex items-center gap-2 bg-gray-100 border-[1px]"
  >
    <img
      [alt]="league.name"
      class="h-4 w-auto"
      src="assets/images/{{league.name}}.png"
    >
    <span
      *ngIf="isLeagueInFilter[league.name]"
      class="material-icons md-12">close</span>
  </button>
  <button
    (click)="onlyWithoutResult = !onlyWithoutResult"
    [ngClass]="{
        'border-transparent': !onlyWithoutResult,
        'border-gray-950': onlyWithoutResult
      }"
    class="badge flex items-center gap-2 bg-gray-100 border-[1px]"
  >
    <span>Bez výsledku</span>
    <span
      *ngIf="onlyWithoutResult"
      class="material-icons md-12">close</span>
  </button>
</div>

<div class="flex flex-col gap-y-8">
  <ng-container *ngFor="let match of matches | filterMatchesBy: leaguesFilter">
    <ng-container *ngIf="onlyWithoutResult ? match.result === null : true">
      <div
        class="flex"
      >
        <div class="grid grid-cols-2 w-full">
          <div>{{match.league}}</div>
          <div>{{match.stage}}</div>
          <div>{{match.round}}</div>
          <div>{{match.homeTeam.name}}</div>
          <div>
            <input
              (blur)="setDatetime(match, $event)"
              [value]="match.datetime | adminDatetimeFormatBy"
              type="datetime-local"
            >
          </div>
          <div>{{match.awayTeam.name}}</div>
        </div>
        <div class="flex flex-col">
          <div>Odloženo</div>
          <select (change)="setPostponed(match, $event)">
            <option
              [selected]="!match.postponed"
              [value]="false"
            >NE
            </option>
            <option
              [selected]="match.postponed"
              [value]="true"
            >ANO
            </option>
          </select>
        </div>
        <div
          *ngIf="match.datetime < now"
          class="flex flex-col">
          <div>Výsledek</div>
          <select (change)="selectResult(match, $event)">
            <option
              [selected]="match.result === null"
              [value]="null"></option>
            <option
              [selected]="match.result === 0"
              [value]="0">0
            </option>
            <option
              [selected]="match.result === 1"
              [value]="1">1
            </option>
            <option
              [selected]="match.result === 2"
              [value]="2">2
            </option>
          </select>
        </div>
        <div>
          <button>
            <span
              (click)="deleteMatch(match.id)"
              class="material-icons md-36 text-red-600"
            >delete</span>
          </button>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>

<div
  [formGroup]="newMatchFormGroup"
  class="grid grid-cols-2 mt-20 gap-4">
  <select
    class="input"
    formControlName="league">
    <option
      *ngFor="let league of leagues"
      [ngValue]="league">{{league.name}}</option>
  </select>
  <select
    class="input"
    formControlName="stage">
    <option
      *ngFor="let stage of stages"
      [ngValue]="stage">{{stage.name}}</option>
  </select>
  <select
    class="input"
    formControlName="round">
    <option
      *ngFor="let round of rounds"
      [ngValue]="round">{{round}}</option>
  </select>
  <input
    class="input"
    formControlName="datetime"
    type="datetime-local">
  <select
    class="input"
    formControlName="home">
    <option
      *ngFor="let team of teams"
      [ngValue]="team.id">{{team.name}}</option>
  </select>
  <select
    class="input"
    formControlName="away">
    <option
      *ngFor="let team of teams"
      [ngValue]="team.id">{{team.name}}</option>
  </select>
</div>
<button
  (click)="addMatch()"
  class="btn btn-primary"
>Přidat
</button>
