<div class="relative overflow-x-auto sm:rounded-lg mt-8 w-full text-sm flex flex-col gap-4">
  <div
    class="w-full flex justify-between items-end mt-4">
    <div class="flex flex-col">
      <ng-container *ngIf="(dataService.selectedUserLeague$ | async) as selectedUserLeague">
        <h2 class="">{{ selectedUserLeague.name }}</h2>
        <div class="text-xxs italic text-gray-600">
            <span *ngFor="let leagues of selectedUserLeague.leagues; let i = index">
              {{ leagues + (i < selectedUserLeague.leagues.length - 1 ? ', ' : '') }}
            </span>
        </div>
      </ng-container>
    </div>
    <div class="flex gap-2">
      <ng-container *ngIf="(dataService.userLeagues$ | async) as userLeagues; else btnLoading">
        <button
          (click)="openCreateUserLeagueModal()"
          *ngIf="!userLeagues.length"
          class="btn btn-secondary"
        >
          <span class="material-icons md-18">add</span>
          <span class="md:hidden block material-icons md-18">groups</span>
          <span class="hidden md:block">{{ 'CREATE_USER_LEAGUE_BUTTON' | transloco }}</span>
        </button>
        <button
          (click)="openChooseUserLeagueModal()"
          *ngIf="userLeagues.length"
          class="btn btn-secondary"
        >
          <span class="material-icons md-18">groups</span>
          <span class="hidden md:block">{{ 'CHOOSE_USER_LEAGUE_BUTTON' | transloco: {count: (dataService.userLeagues$ | async)?.length} }}</span>
        </button>
      </ng-container>
      <button
        (click)="toggleSort()"
        class="btn btn-secondary">
        <span class="material-icons md-18">sort</span>
        <span class="hidden md:block">
            {{(sortBy === 'correctVotes' ? 'STANDINGS.FILTER.SUCCESSFUL_TIPS' : 'STANDINGS.FILTER.SUCCESSFUL_TIPS') | transloco}}
          </span>
      </button>
    </div>
  </div>
  <ng-container *ngIf="(dataService.standings$ | async) as standings">
    <table
      class="w-full">
      <tr
        *ngFor="let user of standings | sortBy: sortBy: 'desc'; let i = index"
        class="border-gray-200 border-b-[1px] last:border-b-0">
        <td class="text-gray-700 text-right">{{i + 1}}.</td>
        <td class="w-full">{{user.name}}</td>
        <td class="font-bold text-right">{{user.correctVotes}}</td>
        <td>
        <span
          [ngClass]="{
            'bg-red-100 text-red-800': user.correctVotes / user.totalVotes < 0.34,
            'bg-orange-100 text-orange-800': user.correctVotes / user.totalVotes > 0.33 && user.correctVotes / user.totalVotes < 0.67,
            'bg-green-100 text-green-800': user.correctVotes / user.totalVotes > 0.66
          }"
          class="badge font-medium "
        >
          {{(user.correctRatio * 100) | number: '1.1-1':'cs-CZ'}}%
        </span>
        </td>
      </tr>
    </table>
    <div
      *ngIf="!standings.length"
      class="p-4 text-sm text-center text-gray-800 rounded-lg bg-gray-50"
      role="alert">
      {{ 'STANDINGS.EMPTY' | transloco }}
    </div>
  </ng-container>
  <div
    *ngIf="!(dataService.standings$ | async)"
    class="animate-pulse flex flex-col">
    <div
      *ngFor="let _ of loadingArray"
      class="border-gray-200 border-b-[1px] last:border-b-0 flex">
      <div class="rounded bg-gray-200 my-4 mx-2 h-5 w-12"></div>
      <div class="rounded bg-gray-200 my-4 mx-2 h-5 w-full"></div>
      <div class="rounded bg-gray-200 my-4 mx-2 h-5 w-12"></div>
      <div class="rounded bg-gray-200 my-4 mx-2 h-5 w-20"></div>
    </div>
  </div>
</div>

<ng-template #btnLoading>
  <div class="btn btn-secondary btn-loading"></div>
</ng-template>
