<div class="relative overflow-x-auto sm:rounded-lg mt-8 w-full">
  <table class="w-full text-left text-gray-700">
    <thead class="text-xs text-gray-500 bg-gray-50">
    <tr>
      <th
        class="px-6 py-3"
        scope="col">
        Jméno
      </th>
      <th
        class="px-6 py-3 text-right"
        scope="col">
        Body
      </th>
      <th
        class="px-6 py-3 text-right"
        scope="col">
        Úspěšnost
      </th>
    </tr>
    </thead>
    <tbody>
    <tr
      *ngFor="let user of users | sortBy: 'correctVotes': 'desc'"
      class="bg-white border-b even:bg-gray-50">
      <td class="px-6 py-4 text-sm">
        {{user.name}}
      </td>
      <td class="px-6 py-4 text-right text-gray-950 font-bold">
        {{user.correctVotes}}
      </td>
      <td
        [ngClass]="{
          'text-red-400': user.correctVotes / user.totalVotes < 0.34,
          'text-orange-400': user.correctVotes / user.totalVotes > 0.34 && user.correctVotes / user.totalVotes < 0.67,
          'text-green-400': user.correctVotes / user.totalVotes > 0.66,
        }"
        class="px-6 py-4 text-right"
      >
        {{(user.correctVotes / user.totalVotes * 100) | number: '1.1-1':'cs-CZ'}}%
      </td>
    </tr>
    </tbody>
  </table>
</div>
