<div class="container mx-auto p-4">
  <router-outlet *ngIf="!isBrowserInApp"/>
  <div
    *ngIf="isBrowserInApp"
    class="p-4 mt-4 text-sm text-gray-800 rounded-lg bg-gray-50 flex flex-col gap-2"
    role="alert">
    Prosím otevřete odkaz mimo prohlížeč aplikace Messenger.<br><br>
    Klikněte na ikonu:
    <span class="material-icons md-18">ios_share</span>
    a zvolte otevřít v prohlížeči.<br>
    Děkujeme.
  </div>
  <div
    *ngIf="isBrowserInApp"
    class="p-4 mt-4 text-sm text-gray-800 rounded-lg bg-gray-50 flex flex-col gap-2"
    role="alert">
    Please open the link outside the Messenger app browser.<br><br>
    Click the icon:
    <span class="material-icons md-18">ios_share</span>
    and open in browser.<br>
    Thanks.
  </div>
</div>
<footer class="flex justify-center p-4 text-xxs text-gray-600">© 2024 Martin Šoupal</footer>
