<header>
  <h1>{{ 'CREATE_USER_LEAGUE.TITLE' | transloco }}</h1>
</header>
<div
  [formGroup]="formGroup"
  class="grid grid-cols-1 md:grid-cols-2 gap-x-2 gap-y-4">
  <div>
    <label
      class="input-label"
    >{{ 'CREATE_USER_LEAGUE.NAME' | transloco }}</label>
    <input
      class="input"
      formControlName="name"
      type="text"
    >
    <p
      *ngIf="formGroup.touched && formGroup.controls['name'].errors?.['required']"
      class="input-error-description"
    >{{ 'REQUIRED' | transloco }}</p>
    <p
      *ngIf="formGroup.touched && formGroup.controls['name'].errors?.['maxlength']"
      class="input-error-description"
    >{{ 'MAX_LENGTH' | transloco: {
      actuallength: formGroup.controls['name'].errors?.['maxlength'].actualLength,
      maxlength: formGroup.controls['name'].errors?.['maxlength'].requiredLength
    } }}</p>
  </div>
  <div>
    <label
      class="input-label"
    >{{ 'CREATE_USER_LEAGUE.STARTED_DATE' | transloco }}</label>
    <input
      class="input"
      formControlName="startedDate"
      type="date"
    >
    <p
      class="input-description"
    >{{ 'CREATE_USER_LEAGUE.STARTED_DATE_INFO' | transloco }}</p>
  </div>
  <div class="flex flex-col">
    <label
      class="input-label"
    >{{ 'CREATE_USER_LEAGUE.CHOSEN_LEAGUES' | transloco }}</label>
    <div
      class="flex flex-col gap-1"
      formGroupName="leagues">
      <div
        *ngFor="let league of leagues"
        class="flex items-center">
        <input
          [formControlName]="league.name"
          class="input-checkbox"
          type="checkbox">
        <label class="input-checkbox-label">{{league.name}}</label>
      </div>
    </div>
    <p
      *ngIf="formGroup.touched && formGroup.controls['leagues'].invalid"
      class="input-error-description"
    >{{ 'AT_LEAST_ONE' | transloco }}</p>
  </div>
</div>
<footer>
  <button
    (click)="ref.close()"
    class="btn btn-secondary">{{ 'CREATE_USER_LEAGUE.CANCEL_BUTTON' | transloco }}</button>
  <button
    (click)="submit()"
    class="btn btn-primary">{{ 'CREATE_USER_LEAGUE.SUBMIT_BUTTON' | transloco }}</button>
</footer>
